@import 'libs/bootstrap-reboot.min';
@import 'libs/animate.min';
@import 'libs/fonts';
@import 'libs/slick';


@import 'base/variables';
@import 'base/mixins';
@import 'base/animation';

* {
    font-family: 'MuseoModerno';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 950px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/buttons';
@import 'blocks/slider';
@import 'blocks/tabs';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/media';
@import 'blocks/modal';
@import 'blocks/pageup';


