@import '../base/variables';

header {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sponsor {
        p {
            margin-bottom: 7px;
            font-weight: 500;
            font-size: 12px;
            text-align: center;
            color: #FFFFFF;
        }
        &_names {
            font-weight: 500;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .call {
        text-align: right;
        .header_phone {
            font-weight: bold;
            font-size: 18px;
            text-decoration: none;
            text-align: right;
            color: #FFFFFF;
        }
    }
}